<h1>All Films</h1>

<div id="films">
  <% @films.each do |film| %>
    <h3><%= film.title %> (<%= film.year %>)</h3>
    <p>Gross US Box Office Sales: $<%= film.box_office_sales %></p>
  <% end %>
</div>
