<form class="films" action="/films" method="post">
  <input type="text" name="film[title]" value="Title">
  <input type="text" name="film[year]" value="Year">
  <input type="text" name="film[box_office_sales]" value="Sales">
  <input type="submit" name="" value="Submit">
</form>
