<form class="new-film" action="/films" method="">
  <input type="text" name="film[title]" value="Title">
  <input type="number" name="film[year]" value="Year">
  <input type="text" name="film[box_office_sales]" value="Sales">
  <input type="submit" value="Submit">
</form>
