<h1>Create a New Film</h1>

<form action="/films" method="post">
  <input type="text" name="film[title]" value="Title">
  <input type="text" name="film[year]" value="Title">
  <input type="text" name="film[box_office_sales]" value="Title">
  <input type="submit" value="Create Film">
</form>
