<h1><%= @director.name %></h1>

<h1>Films</h1>
<%= @director.list_films  %>

<h1>Total Box Office Sales</h1>
<%= @director.total_box_office %>

<h1>Average Box Office Sales</h1>
<%= @director.avg_box_office %>
