<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal Site</title>
  </head>
  <body>
    <div>
      <h2>Welcome to Ilana's Site</h2>
    </div>
    <div>
      <p>I would like to tell you about myself</p>
      <div>
        <h2>Denver</h2>
        <p>Denver is where I live.</p>
      </div>
      <div>
        <h2>Schooling</h2>
        <ul>
          <li>University of Colorado</li>
          <li>Turing School of Software and Design</li>
        </ul>
      </div>
    </div>
    <div>
      <p>Here is my work:</p>
      <div>
        <a href="http://arcade.turing.io">Turing Arcade</a>
      </div>
      <div>
        <p>My Lessons:</p>
      </div>
    </div>
    <div>
      <p>email me at <a href="mailto:ilana@turing.io">ilana@turing.io</a></p>
    </div>
  </body>
</html>
