<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal Site</title>
  </head>
  <body>
    <nav>
      <h1>Welcome to Ilana's Site</h1>
    </nav>
    <section>
      <header>
        <p>I would like to tell you about myself</p>
      </header>
      <article>
        <h2>Denver</h2>
        <p>Denver is where I live.</p>
      </article>
      <article>
        <h2>Schooling</h2>
        <ul>
          <li>University of Colorado</li>
          <li>Turing School of Software and Design</li>
        </ul>
      </article>
    </section>
    <section>
      <header>
        <p>Here is my work:</p>
      </header>
      <article>
        <a href="http://arcade.turing.io">Turing Arcade</a>
      </article>
      <article>
        <p>My Lessons:</p>
      </article>
    </section>
    <footer>
      <p>email me at <a href="mailto:ilana@turing.io">ilana@turing.io</a></p>
    </footer>
  </body>
</html>
